#Controls {
  position: absolute;
  top: 55px;
  left: 10px;
  width: 300px;
  max-width: 35%;
  z-index: 2;
}

#Controls.set {
  opacity: .45;
  -webkit-transition: ease opacity 0.5s;
  -moz-transition: ease opacity 0.5s;
  -o-transition: ease opacity 0.5s;
  transition: ease opacity 0.5s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
#Controls.set:active, #Controls.set:hover {
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

#Controls input[type=text],
#Controls input[type=search] {
  margin-bottom: 5px;
}
